body {
  /* Positioning */
  margin-top: 50px;
  margin-bottom: 150px;
  background-image: url("./trains.jpg");

  /* Visual */
  
}

html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

.jumbotron {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}